<h1>To add a new schedule, please fill out the form below.</h1>
<div class="two-column">
    <div>
        <form class="form" action="/schedule" method="POST">
            <div>
                <label class="form-label" for="day">Day:</label>
                <select class="form-input" id="day" name="day" required>
                    <option disabled selected value="">
                        <%= daysOfWeek[0]%>
                    </option>
                    <% for (i=1; i < daysOfWeek.length; i++) { %>
                        <option value="<%= i%>">
                            <%= daysOfWeek[i]%>
                        </option>
                        <% } %>
                </select>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label class="form-label" for="start_time">Start Time:</label>
                <input class="form-input" id="start_time" type="text" name="start_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label class="form-label" for="end_time">End Time:</label>
                <input class="form-input" id="end_time" type="text" name="end_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <button class="button" type="submit">Add Schedule</button>
            <p class="alert"><%= message %></p>
        </form>
    </div>
    <div>
        <% if (schedules.length> 0) { %>
            <table>
                <thead class="table-heading">
                    <tr>
                        <th>Day</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Delete Schedule</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (i=0; i < schedules.length; i++) { %>
                        <tr>
                            <td class="table-cell">
                                <%= daysOfWeek[schedules[i].day]%>
                            </td>
                            <td class="table-cell">
                                <%= schedules[i].start_time%>
                            </td>
                            <td class="table-cell">
                                <%= schedules[i].end_time%>
                            </td>
                            <td><form method="post" action="/schedule/delete?scheduleid=<%= schedules[i].id %>"><button class="not-button">DELETE</button></form></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% } else { %>
                <p>You currently have no schedules.</p>
                <% } %>
    </div>
</div>
<script src="/js/schedule-validation.js"></script>