<script src="/js/schedule-validation.js"></script>

<p class="shedule-p">To add a new schedule, please fill out the form below.</p>
<div class="two-column">
    <div>
        <form class="form" action="/schedule" method="POST">
            <div>
                <label class="form-label" for="day">Day:</label>
                <select class="form-input" id="day" name="day" required>
                    <option disabled>
                        <%= daysOfWeek[0]%>
                    </option>
                    <% for (i=1; i < daysOfWeek.length; i++) { %>
                        <option value="<%= i%>">
                            <%= daysOfWeek[i]%>
                        </option>
                        <% } %>
                </select>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label class="form-label" for="start_time">Start Time:</label>
                <input class="form-input" id="start_time" type="text" name="start_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label class="form-label" for="end_time">End Time:</label>
                <input class="form-input" id="end_time" type="text" name="end_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <button class="button" type="submit">Add Schedule</button>
        </form>
    </div>
    <div>
        <table>
            <thead class="table-heading">
                <tr>
                    <th>Day</th>
                    <th>Start time:</th>
                    <th>End time:</th>
                </tr>
            </thead>
            <tbody>
                <% for (i=0; i < schedules.length; i++) { %>
                    <tr>
                        <td class="table-cell">
                            <%= daysOfWeek[schedules[i].day]%>
                        </td>
                        <td class="table-cell">
                            <%= schedules[i].start_time%>
                        </td>
                        <td class="table-cell">
                            <%= schedules[i].end_time%>
                        </td>
                        <!-- <td><a href="#" action="">DELETE</a></td> -->
                        <!-- TODO: Need to look into how to delete an entry in a table from an anchor -->
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>